
html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin:0;
}
/* Header container */

.head {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.navbar {
    display: flex;
    justify-content:flex-end;
    margin: 0 5%;
    height: 100px;
    justify-content: space-between;
    border: 1px solid green;
    width: 100%;
    background-color: whitesmoke;
}

.navigation {
    display: flex;
    padding-right: 10px;
}

.nav {
    padding-right: 20px;
    font-size: 1.3rem;
}

a {
    color: green;
}

.logo img  {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin-left: 20px;
}


/* Mission container*/

.main-logo {
    display: flex;
    justify-content: center;
}

.our-goal {
    display: flex;
    justify-content: center ;
    width: 100%;
}

.our-goal p {
    width:850px;
    font-size: 1.1rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    text-align: center;
}

/* Levels container */

.yoga-levels {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    width: 100%;
}

.level {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
    justify-content: center;
}

.level img{
    max-width: 100%;
    max-height: 100%;
}

.level strong {
    text-align: right;
}

figure {
    height:400px;
    width: 300px;
    text-align: center;
}

.intermediate2 , .advanced {
    margin-top: 40px;
}

h3 {
    text-align: center;
    padding: 0;
    margin: 0;
}


@media only screen and (max-width: 1300px){

    figure  {
        margin-top: 100px ;
    }
    .advanced {
        margin: 0;
    }
}

/* Team container */

.team h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#team {
    display: flex;
    justify-content: center;
}

#team img {
    max-width: 100%;
    max-height: 100%;
}

#team figure {
    height: 300px;
}

.ion figcaption {
    padding-top: 70px;
}

@media only screen and (max-width: 800px) {
    #team {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}

/* Contact container */

.contact h2 {
    text-align: center;
    margin-top: 100px;
}

/* Footer container */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border: 1px solid green;
    background-color:whitesmoke;
    height: 100px;
    color: green;
    font-weight: bold;
    font-size: 1.2rem;
}

@media only screen and (max-width: 400px) {
    .logo img {
        display: none;
    }
    .main-logo {
        width:300px;
        height: 300px;
        
        }
}
